* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  background-color: palegoldenrod;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

footer {
  background: #333;
  color: white;
  display: grid;
  place-items: center;
}

footer section.social {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
  justify-content: space-around;
  max-width: 90%;
  min-width: 256px;
  margin: 16px auto;
}

footer section.social a {
  color: white;
  transform: scale(0.75);
  transition: transform 200ms ease-in-out;
}

footer section.social a:hover {
  transform: scale(1);
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #ffa014;
}

a:hover {
  color: #ffa726;
}

a:active {
  color: #ff9800;
}

button {
  all: unset;
  padding: 8px 16px;
  background-color: chocolate;
  border-radius: 32px;
  line-height: 125%;
  font-weight: 700;
  font-size: 1rem;
  color: lightgoldenrodyellow;
  cursor: pointer;
}

button:hover {
  background-color: #fd8128;
}

button:active {
  background-color: #8a4717;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.header {
  position: relative;
  padding: 12px 0;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  max-width: 600px;
  flex-grow: 1;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navlinks img {
  display: none;
}

.navlinks a,
a:visited {
  color: white;
  font-weight: 400;
  transition: 300ms;
}

.navlinks a:hover {
  padding: 6px 9px;
  border-radius: 24px;
  font-size: 125%;
  font-weight: 500;
  background: white;
  color: black;
  transition: 200ms;
}

.navlinks a:active {
  background: #e0e0e0;
  color: #424242;
  font-size: 115%;
  transition: 50ms;
}

.hero {
  height: 40vh;
  width: 612px;
  min-height: 372px;
  margin: 12px auto 0;
  display: grid;
  justify-content: stretch;
  justify-items: start;
  align-content: center;
  row-gap: 36px;
  height: 60%;
}

.hero h1,
.hero h2,
.hero p {
  background: #222222c0;
  border-radius: 6px;
}

.hero h1 {
  font-weight: 300;
  font-size: 3rem;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: 300;
  cursor: pointer;
}

.hero h2.Iam::before {
  content: 'I am';
  padding: 0 3px;
  background: white;
  color: black;
  font-size: 115%;
  font-weight: 100;
  margin-right: 6px;
}

.hero h2::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: white;
  transition: width 300ms ease;
}

.hero h2:hover::after {
  width: 100%;
}

.hero p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 12px;
}

section.section {
  max-width: 85%;
  margin: 24px auto;
}

section.section h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #673009;
  margin-bottom: 16px;
}

section#works {
  display: grid;
  justify-content: center;
  align-content: center;
}

section#skills img {
  display: inline-block;
  max-width: 180px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin-right: 16px;
}

section#contact ul {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #ff56221c;
  border-left: solid 8px #6730095b;
  padding: 8px;
}

section#contact ul > li > a {
  color: #000000d0;
  display: inline-block;
  margin: 4px 0;
}

section#contact ul > li > a::after {
  content: '';
  margin-top: -3px;
  background-color: black;
  height: 1px;
  width: 0;
  display: block;
  transition: 400ms;
}

section#contact ul > li > a:hover::after {
  width: 100%;
}

.cards-container {
  max-width: 100%;
  justify-self: center;
  overflow-x: auto;
  display: flex;
  background: #67300926;
  border-radius: 3px;
  box-shadow: inset #8c5f4030 0px 6px 6px 3px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.cards-container:last-child::after {
  content: 'l';
  color: transparent;
}

.card {
  width: 300px;
  margin: 12px;
  padding: 12px 18px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  background: aliceblue;
  display: grid;
  grid-auto-flow: row;
  row-gap: 18px;
  justify-content: center;
  align-content: center;
  scroll-snap-align: center;
  transition: 300ms;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 240px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card button {
  border: darkgreen solid 1px;
  border-radius: 3px;
  background: none;
  color: darkgreen;
  line-height: 0;
  transition: 100ms;
}

.card button:hover {
  background: #d3f9c3;
}

.card button:active {
  background: forestgreen;
  color: #d3f9c3;
}

.card h2 {
  line-height: 2em;
}

.card p {
  line-height: 1.5em;
}

.backdrop {
  opacity: 0.9;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.hide-medium {
  visibility: visible !important;
}

#logo {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: white;
  margin-left: 24px;
}

#myself {
  position: fixed;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform-origin: 10% 20%;
  transform: translate(-50%, -50%) scale(0) skew(20deg, 45deg);
  margin: 0;
  padding: 18px;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  background-image: linear-gradient(45deg, aliceblue, palegoldenrod);
  font-weight: 500;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#myself img {
  float: left;
  shape-outside: circle();
  margin: 4px;
}

#myself p#my_bio {
  line-height: 1.5;
  color: #333;
}

#myself button.close {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 3px 6px;
  margin: 0;
  color: #dc3545;
  border: none;
}

#myself button.close:hover {
  background: rgba(255, 0, 0, 0.15);
}

#myself button.close:active {
  background: rgba(255, 0, 0, 0.3);
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: -1;
}

#menu {
  display: none;
}

#type:focus {
  outline: unset;
}

#type.blue {
  color: #9575cd;
}

#type.red {
  color: red;
}

#type.purple-gradient {
  color: transparent;
  background: linear-gradient(90deg, darkviolet, pink, hotpink, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

#type.typing-last {
  animation: rainbow 2s ease alternate infinite;
}

#type.type-in {
  color: white;
  animation: fadeout-rainbow 5s cubic-bezier(0.5, 0.5, 0.5, -0.5);
}

#type.typing::after {
  content: '\007C';
  font-weight: 100;
  font-size: 150%;
  color: whitesmoke;
  animation: insertion-point 350ms infinite cubic-bezier(1, -0.5, 0, 1.5)
    alternate;
}

@keyframes insertion-point {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout-rainbow {
  0% {
    color: transparent;
    background: linear-gradient(
      45deg,
      #80deea,
      #aed581,
      #ffc107,
      #ff5722,
      #b71c1c,
      #4a148c
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
  5% {
    background: linear-gradient(
      60deg,
      #80deea,
      #aed581,
      #ffc107,
      #ff5722,
      #b71c1c,
      #4a148c
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
  10% {
    background: linear-gradient(
      90deg,
      #80deea,
      #aed581,
      #ffc107,
      #ff5722,
      #b71c1c,
      #4a148c
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    color: white;
  }
}

@keyframes rainbow {
  0% {
    color: #80deea;
  }
  20% {
    color: #aed581;
  }
  40% {
    color: #ffc107;
  }
  60% {
    color: #ff5722;
  }
  80% {
    color: #b71c1c;
  }
  100% {
    color: #4a148c;
  }
}

@keyframes slide-navbar {
  from {
    right: -240px;
  }
  to {
    right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  #menu {
    display: inline;
    background: none;
  }

  .hide-medium {
    visibility: hidden !important;
  }

  .social-media {
    display: none;
  }

  .hero {
    width: 60%;
  }

  .navlinks {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100;
    width: 0;
    height: 100vh;
    padding-top: 15px;
    display: grid;
    align-content: start;
    justify-content: stretch;
    overflow-x: hidden;
    list-style: none;
    border-left: #ff5722 solid 6px;
    background: palegoldenrod;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 400ms;
  }

  .navlinks img {
    display: block;
  }

  .navlinks li {
    width: inherit;
    min-width: 240px;
    padding-left: 12px;
    border-bottom: #673009 solid 1px;
  }

  .navlinks li:last-child {
    border: none;
  }

  .navlinks a {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 250%;
    color: #673009;
    transition: 300ms;
  }

  .navlinks a:hover {
    background: none;
    color: #bf2e00;
    padding: 6px 9px;
    font-size: 150%;
    font-weight: 600;
    transition: 200ms;
  }

  .navlinks a:active {
    background: none;
    color: #940000;
    font-size: 130%;
    transition: 50ms;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    min-width: 360px;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    font-size: 13px;
  }

  .hero {
    min-width: 300px;
  }

  section#skills img {
    max-width: 25%;
    height: auto;
  }
}
